body{
    background-color: white;
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.15s, color 0.15s;
}

body.dark-theme {
    background-color: black;
    color: white;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83bdff;
  color: hsl(0, 100%, 96%);
  padding-top: 0rem;
}

.header-name {
  display: inline-block;
  text-align: center;
}

.under-name {
    padding-top: 0rem;
    margin: 0;
    font-size: 17.5px;
}

.header-divider {
  border: none;
  border-top: 0px solid #000; /* Adjust color and thickness */
  margin: 2px 0;
  width: 100%; /* Adjust width of the line */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.theme-toggle {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    font-size: 1rem;
}

.theme-container {
    display: flex;
    justify-content: end;
    background-color: #83bdff;
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
    padding-right: 3rem;
}

section {
    padding: 1rem;
    margin: 1rem 0;
}

.about, .projects, .contact, .education{
    max-width: 800px;
    margin: 0 auto;
}

.about {
    text-align: center;
}
  
.about h2 {
    text-align: left;
  }
  
.about hr {
    width: 100%;
    border: 1px solid #ccc;
}
  
.intro-content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-top: 20px;
    size: 2rem;
}
  
.profile-img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
  
.intro-content p {
    max-width: 600px;
    text-align: left;
    font-size: 16px;
}
  

.projects {
    margin-bottom: 0rem;
}

.education {
  background-color: #83bdff;
  color: hsl(0, 100%, 96%);
  padding-bottom: 2rem;
}

.education hr {
  border: 1px solid hsl(0, 100%, 96%);
}

.projects h2 {
  margin-top: 16px;
}

.minesweeper {
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
}

.project {
    margin-bottom: 2rem;
}

.descriptions{
    font-size: 14px;
}

.contact {
  margin-top: 0;
  padding-top: 0.5rem;
  background-color: #83bdff;
  color: hsl(0, 100%, 96%);
}

.contact hr {
  border: 1px solid hsl(0, 100%, 96%);
}
